torch
PyYAML
pydicom
torchvision
pytorchvideo
wandb
pandas
numpy
scikit-image
scikit-learn
stam-pytorch
timesformer-pytorch
opencv-python-headless
zarr
matplotlib
seaborn
torchmetrics
pylibjpeg>=2.0
pylibjpeg-libjpeg>=2.1